/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* custom styles */
*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-size: 16px;
}

.container{
    max-width:1200px;
    margin:0 auto;
    padding:0 32px;
}

.clearfix::before,
.clearfix::after{
    content:"";
    display:table;
}
.clearfix::after{
    clear:both;
}

.header{
    background-color:gray ;
    height:120px;
    line-height: 120px;
}
.brand{
    float:left;
}
.brand img{
    vertical-align: middle;
}
.nav {
    float:right;
}
.nav a{
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 32px;
}
.article{
    background-color: aliceblue;
    padding:80px 0;
}
.article-heading{
    font-size: 30px;
    margin-bottom: 16px;
}
.article-text{
    font-size:20px;
    line-height: 1.7;
}
.col{
    float:left;
    width:50%;
}
.article-img{
    width:100%;
    border:2px solid black;
    border-radius:8px;
}
.article-left{
    padding-right: 60px;
}
.section{
    padding:80px;
}
.col-1{
    width:30%;
    margin:1.5%;
    float:left;
}
.section img{
    width:100%;
}
.footer{
    background-color: gray;
    padding:80px 0;
    text-align:center;
}
.footer a{
    text-decoration: none;
    text-transform: uppercase;
    margin:0 16px;
}
.top-btn{
    display:inline-block;
    width:56px;
    height:56px;
    border-radius: 50%;
    background-color:black;
    position:fixed;
    right:32px;
    left:32px;
    text-align: center;
    line-height: 48px;
    font-size:20px;
    color:white;
    text-transform: uppercase;

}